/*=========================================================================================================================*/
/*Body opmaak*/
/*=========================================================================================================================*/
body{
    background-image:var(--back-image);
    background-size:cover;
}

/*=========================================================================================================================*/
/*opmaak about us column*/
/*=========================================================================================================================*/
.column{
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-bottom: 40px;
    width: 60%;
    border-radius: 10px;
    margin-left: 220px;
}

/*=========================================================================================================================*/
/*opmaak ronde foto*/
/*=========================================================================================================================*/

.mepicture img{
    height: 20%;
    width: 20%;
    border-radius: 50%;
    border: 10px solid rgb(192, 142, 5);
    float: left;
}

.mepicture img::after{
    clear: both;
}

.mepicture img:hover{
    transform: scale(1.2);
}

/*=========================================================================================================================*/
/*opmaak alinea's*/
/*=========================================================================================================================*/
/*Uitleg deel 1*/
.uitlegcontainer1{
    border-radius: 40px;
    background-color: var(--container1-color);
    padding: 2%;
    float: right;
    justify-content: center;
    box-shadow: -12px 12px var(--shadow1-color);
    margin-bottom: 5%;
}

/*Uitleg deel 2*/
.uitlegcontainer2{
    border-radius: 40px;
    background-color: var(--container2-color);
    padding: 2%;
    float: right;
    justify-content: center;
    box-shadow: -12px 12px var(--shadow2-color);
    margin-bottom: 5%;
}

.uitlegcontainer2 img{
    display: none;
    width: 30%;
    border-radius: 50%;
    margin: auto;
}

/*Uitleg deel 3*/
.uitlegcontainer3{
    border-radius: 40px;
    background-color: var(--container3-color);
    padding: 2%;
    float: right;
    justify-content: center;
    box-shadow: -12px 12px var(--shadow3-color);
    margin-bottom: 5%;
}

.uitlegcontainer3 img {
    display: none;
    width: 30%;
    border-radius: 20%;
    margin: auto;
}

/*Opmaak logo's*/
.logodiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Uitleg deel 4*/
.uitlegcontainer4{
    border-radius: 40px;
    background-color: var(--container4-color);
    padding: 2%;
    float: right;
    justify-content: center;
    box-shadow: -12px 12px var(--shadow4-color);
    margin-bottom: 5%;
}

/*=========================================================================================================================*/
/*opmaak inhoud column*/
/*=========================================================================================================================*/
p{
    font-size: larger;
    margin-bottom: 2%;
    margin-left: 2%;
    color: white;
    font-size:x-large;
    font-family: Aldrich;
}

h2{
    color: black;
    margin-left: 2%;
    margin-top: 2%;
    font-family: Alegreya Sans SC;
    font-size:xx-large;
}

/*=========================================================================================================================*/
/*Opmaak footer*/
/*=========================================================================================================================*/
.foot{
    background-color: #4f4d4d;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 5%;
    box-shadow: 0px 12px black;

}

.foot p{
    color: white;
    font-size: large;
    font-family: Aldrich;
    margin-bottom: 0px;
}

/*=========================================================================================================================*/
/*Opmaak themeswitcher*/
/*=========================================================================================================================*/
/*Onderdeel van code uit switchtheme.js door Kevin Powell - https://www.youtube.com/watch?v=wodWDIdV9BY*/
/*Kleurenpalet door mezelf gedaan*/
:root {
    --back-image:url("/WebsiteProject/picture/BackgroundIma.png");

    --container1-color: rgb(0, 110, 255);
    --container2-color: rgb(144, 193, 38);
    --container3-color: orange;
    --container4-color: rgb(225, 22, 22);

    --shadow1-color:rgb(1, 23, 61);
    --shadow2-color:rgb(3, 87, 4);
    --shadow3-color:rgb(148, 99, 1);
    --shadow4-color:rgb(111, 4, 4);
}

.darkmode {
    --back-image:url("/WebsiteProject/picture/Afbeelding6.png");

    --container1-color: rgb(151, 17, 17);
    --container2-color: rgb(206, 149, 43);
    --container3-color: rgb(87, 128, 0);
    --container4-color: rgb(0, 0, 255);

    --shadow4-color:rgb(1, 23, 61);
    --shadow3-color:rgb(3, 87, 4);
    --shadow2-color:rgb(148, 99, 1);
    --shadow1-color:rgb(111, 4, 4);
}