/*=========================================================================================================================*/
/*Opmaak body*/
/*=========================================================================================================================*/
body {
    background-image: var(--back-image);
    background-size: cover;
}

h2{
    color: white;
    margin-bottom: 20px;
}
/*=========================================================================================================================*/
/*Opmaak game*/
/*=========================================================================================================================*/
.game {
    width: 100%;
    height: auto;
    aspect-ratio: 1152/648;
    border-radius: 30px;
}

.gameopmaak {
    background-color: var(--game-color);
    width: 90%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-bottom: 2%;
    box-shadow: 0px 12px rgb(148, 99, 1);
}

/*=========================================================================================================================*/
/*Opmaak controls*/
/*=========================================================================================================================*/
.row{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowkeys{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrows{
    width: 45%;
    background-color:var(--control-color);
    border: solid 20px var(--control-color);
    border-radius: 15px;
    box-shadow: -12px 12px rgb(1, 23, 61);
}

.arrow {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #4f4d4d;
}

.arrow:hover{
    transform: scale(1.1);
    background-color: #6c6969
}

.esc{
    float: left;
}

.esc::after{
    clear: both;
}

.inv{
    float: right;
}

.inv::after{
    clear: both;
}

.arrowicon {
    width: 20px;
    height: 20px;
}

.space{
    background-color: #4f4d4d;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-radius: 10px;
}

.space:hover{
    transform: scale(1.1);
    background-color: #6c6969;
}

.controltext{
    color: white;
    font-weight: bold;
}

.controlsexplained{
    width: 45%;
    margin-left: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}

.controlsexplained p {
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: Aldrich;
    font-size: x-large;
}
/*=========================================================================================================================*/
/*Opmaak button download*/
/*=========================================================================================================================*/
.downloadbutton {
    width: 300px;
    height: 300px;
    background-color: var(--button-backcolor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    box-shadow: 12px 12px rgb(3, 87, 4);;
}

.downloadicon {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.downloadbutback {
    position: absolute;
    width: 200px;
    height: auto;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.downloaduitleg {
    background-color: var(--button-backcolor);
    padding: 5%;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 12px 12px rgb(3, 87, 4);
}

.downloadtext {
    font-size: larger;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Aldrich;
}

/*=========================================================================================================================*/
/*Opmaak content*/
/*=========================================================================================================================*/
.leftcolumn {
    float: left;
    width: 60%;
    background-color: var(--leftcol-color);
    border-radius: 20px;
    padding:5%;
    box-shadow: -12px 12px rgb(111, 4, 4);
    display: flex;
    flex-direction: column;
    margin: 2.5%;

}

.leftcolumn::after{
    clear: both;
}

.rightcolumn {
    float: left;
    width: 25%;
    margin-left: 5%;
    background-color: transparent;
    border-radius: 20px;
}

.rightcolumn::after{
    clear: both;
}

.controlscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=========================================================================================================================*/
/*Opmaak themeswitcher*/
/*=========================================================================================================================*/
/*Onderdeel van code uit switchtheme.js door Kevin Powell - https://www.youtube.com/watch?v=wodWDIdV9BY*/
/*Kleurenpalet door mezelf gedaan*/
:root {
    --game-color: orange;
    --leftcol-color: rgb(154, 50, 50);

    --control-color: rgb(0, 110, 255);

    --button-backcolor: rgb(144, 193, 38);
    --back-image: url("/WebsiteProject/picture/BackgroundIma.png");
}

.darkmode {
    --game-color: rgb(206, 149, 43);
    --leftcol-color: rgb(151, 17, 17);

    --control-color: rgb(49, 49, 197);

    --button-backcolor: rgb(87, 128, 0);
    --back-image: url("/WebsiteProject/picture/Afbeelding6.png");
}